<div class='flex w-full h-20 bg-blue-900 text-white'>
  <div class="ms-auto space-x-6 mr-10 mt-8">
    <%= link_to t('header.diaries'), users_all_posts_path %>
    <%= link_to t('header.posts_index'), user_posts_path(@user, @post) %>
    <%= link_to t('header.create_post'), new_user_post_path(@user, @post) %>
    <%= link_to t('header.my_page'), '#'%>
    <%= link_to t('header.sign_out'),  destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</div>